/** Meyer Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    font-family: 'Roboto', sans-serif;;
}

* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 260px 2fr;
    grid-template-rows: 160px 4fr;   
}

/*********************   Side Bar   *****************************/
.side-bar{
    background-color: #14171A;
    color: white;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 80px 270px 150px;
    justify-content: space-between;
    padding-left:20px;
    font-weight: bold;
}

.dashboard{
    font-size: 24px;
    display: grid;
    grid-template-columns:40px 1fr;
    align-items: center;
    gap: 20px;
}

ul{
    margin-top:30px;
    display:grid;
    gap: 10px;
}

li{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

/*********************   Header   *****************************/
.header{
    display: flex;
    flex-wrap: wrap;
    color:#14171A;   
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 6px 8px -6px #14171A;
}

.flexHeader1{
    display: flex;
    align-items: center;
}

img[alt="search-icon"]{
    max-width: 22px;
    max-height: 22px;
    margin: 0px 20px 0px 50px; 
}

input{
    border: 1px solid #E1E8ED;
    background-color: #E1E8ED;
    border-radius: 12px;  
    width: 40vw;
    padding:4px;
    margin-right: 250px;
}

img[ alt="person-icon-first"]{
    max-width: 50px;
    max-height: 50px;
    margin:0 20px;
}

.maName{
    margin-right: 150px;
    white-space: nowrap;
    text-overflow: clip;
}

.flexHeader2{
    display: flex;
    align-items: center;
}

img[ alt="person-icon-last"]{
    max-width: 75px;
    max-height: 75px;
    margin: 0px 20px 0px 50px;
}

.greeting-1strow{
    font-size: 14px;
    line-height: 25px;
}

.greeting-2ndrow{
    font-size: 24px;
    white-space: nowrap;
    text-overflow: clip;
    margin-right: 520px;
}

button{
    border: 1px solid #14171A;
    background-color: #14171A;
    color: white;
    border-radius: 12px;
    padding:7px 20px 7px 20px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 30px;
}

/*********************   Main Content   *****************************/
.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-template-rows: 1.3fr 1fr;
    background-color: #E1E8ED; 
    margin-top: 5px; 
    font-weight: bold;
    font-size: 18px;
    color: #14171A;
}

/********   Projects/Cards  *************/
.position{
    position: absolute;
    top: -30px;
    left: 7px;
    font-size: 20px;
}

.projects{
    grid-row:1/3;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;    
    grid-template-rows: 1fr 20px 1fr 20px 1fr;
    margin: 50px 20px;
    position: relative;
}

.cards-first{
    grid-area: 1 / 1 / 2 / 2;   
}

.cards-second{
    grid-area: 1 / 3 / 2 / 4;   
}

.cards-third{
    grid-area: 3 / 1 / 4 / 2;   
}

.cards-fourth{
    grid-area: 3 / 3 / 4 / 4;   
}

.cards-fifth{
    grid-area: 5 / 1 / 6 / 2;   
}

.cards-sixth{
    grid-area: 5 / 3 / 6 / 4;    
}

div[class*=cards]{
    border: 1px solid white;
    border-radius: 15px;
    background-color:white;
    display: grid;
    grid-template-rows: 30px 0.5fr 1.5fr 0.5fr 30px;
    grid-template-columns: 30px 2fr repeat(4,0.5fr);
    align-items: center;
    box-shadow: 0 6px 8px -6px #14171A;
}

.title{
    grid-area: 2 / 2 / 3 / 3;
}

.project-text{
    grid-area: 3 / 2 / 4 / 6;
    font-weight: 400;
    font-size: 16px;
}

img[alt*=retweet-icon-project],
img[alt*=message-icon-project]{
    grid-area: 4 / 3 / 5 / 4;
    min-height: 30px;
    min-width: 30px;
}

img[alt*=retweet-icon-project]{
    grid-area: 4 / 4 / 5 / 5;
}

img[alt*=like-icon-project]{
    grid-area: 4 / 5 / 5 / 6;
    max-width: 30px;
    max-height: 30px;
}

img[alt*=share-icon-project]{
    grid-area: 4 / 6 / 5 / 7;
    max-width: 35px;
    max-height: 35px;
}

/******* Announcements ******/
.announcements{
    margin: 50px 20px;
    position: relative;
    display: grid;
    grid-template-rows: 30px 1.2fr 2fr 1fr 1fr 1.2fr 2fr 1fr 1fr 1.2fr 2fr 1fr 1fr ;
    grid-template-columns: 20px 1fr 20px;
    box-shadow: 0 6px 8px -6px #14171A;
}

div[class*=ann]{
    border: 1px solid white;
    border-radius: 15px;
    background-color:white;
    align-self: center;
}
.ann1{
    grid-area: 2 / 2 / 3 / 3;
}

.ann2{
    grid-area: 6 / 2 / 7 / 3;
}

.ann3{
    grid-area: 10 / 2 / 11 / 3;
}

div[class*=annLorem]{
    font-weight: 400;
    font-size: 16px;
}

.annLorem1{
    grid-area: 3 / 2 / 4 / 3;
}

.annLorem2{
    grid-area: 7 / 2 / 8 / 3;
}

.annLorem3{
    grid-area: 11 / 2 / 12 / 3;
}